{% extends "layout.html" %}
{% block content %}
<div class="site-header-logo">

    <h1 class="text-center">About</h1>

    <div>
        <div class="content-about">
            <img src="{{ url_for('static', filename='images/divers.webp') }}" alt="Divers" class="img-about" title="Divers">
            <p class="about"> Traditionally, data collection, such as mapping the sea floor (bathymetry) or measuring water properties 
                (e.g., salinity, temperature, pH), has been done manually using expensive and sophisticated equipment on vessels. 
                This approach is <b class="about">slow, costly, inefficient, and often hinders scientific progress.</b>
                It should also be recognized that one of the most common methods is to use divers, which inherently <b class="about">risk</b> 
                their <b class="about">lives during expeditions.</b> In addition, some areas are inaccessible by boat, 
                either due to legal restrictions or physical limitations, making it <b class="about">difficult to collect the necessary data.</b>
            </p>
        </div>
        
        <div class="content-about">
            <p class="about"> <b class="about">Autonomous Underwater or Surface Vehicles (AUVs or ASVs)</b> and robotics 
                <b class="about">an efficient, safer alternative</b>  to traditional methods. 
                AUVs can <b class="about">autonomously navigate and collect data in areas that are difficult or dangerous for divers to access</b>. 
                Equipped with advanced sensors, they gather accurate measurements of seafloor topography and water conditions without the need 
                for constant human involvement. This technology <b class="about">reduces the cost and time associated with research expeditions</b>, 
                while also minimizing risks to human life. As a result, AUVs streamline data collection, 
                making marine research <b class="about">more accessible and sustainable</b>.
            </p> 
            <img src="{{ url_for('static', filename='images/auv.webp') }}" alt="AUV" class="img-about" title="BlueROV2">   
        </div>
          
    </div>

    <h1 class="text-center">Our Team</h1>
    
    <div class="grid-container">
        <div class="item1">
            <img src="{{ url_for('static', filename='images/gabriel_archilla.webp') }}" alt="Gabriel Archilla" title="Gabriel Archilla" width="29%">
            <br><a class="about" href="https://github.com/gaac-rum">Gabriel A. Archilla Cintrón</a>
            <p class="about2">
                Computer Science and Engineering<br>
                University of Puerto Rico - Mayaguez Campus
            </p>
        </div>
        <div class="item2">
            <img src="{{ url_for('static', filename='images/jan_badillo.webp') }}" alt="Jean Badillo" title="Jean Badillo" width="24%">
            <br><a class="about" href="https://github.com/janbadillo">Jan C. Badillo Rivera</a>
            <p class="about2">
                Software Engineering<br>
                University of Puerto Rico - Mayaguez Campus
            </p>
        </div>
        <div class="item3">
            <img src="{{ url_for('static', filename='images/carlos_acevedo.webp') }}" alt="Carlos Acevedo" title="Carlos Acevedo" width="32%">
            <br><a class="about" href="https://github.com/AcevedoC17">Carlos A. Acevedo Morales</a>
            <p class="about2">
                Software Engineering<br>
                University of Puerto Rico - Mayaguez Campus
            </p>
        </div>  
    </div>

    <h1 class="text-center">Project Mentor</h1>
    <div class="content-about">
        <img src="{{ url_for('static', filename='images/samuel_cardena.webp') }}" alt="Samuel Cardeña" class="img-about" title="Samuel Cardeña">
        <p class="about">
            <a class="about" href="https://www.linkedin.com/in/samuel-carde%C3%B1a-sanchez-448803131/">Samuel Cardeña Sanchez</a>
            <br>Professor at Inter American University of Puerto Rico - Ponce Campus<br>
            More information...
        </p>
    </div>

</div>

{% endblock %}